APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

PHEAL_CACHE=database

EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
EVE_REDIRECT=http://localhost:8000/callback

SLACK_API_TOKEN=
SLACK_ADMIN_TOKEN=
SLACK_POST_URL=

SLACK_REGISTER_TOKEN=
PING_TOKEN=
SLACK_PORTRAIT_TOKEN=

SLACK_DOMAIN=localhost
